
/* Define o layout dos contêineres de certificados usando uma grade */
.certificates_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; /* Adiciona um pequeno espaço entre os contêineres */
}

/* Estilo para cada contêiner de certificado */
.certificates_container > div {
  background: var(--color-bg-variant); /* Cor de fundo do contêiner */
  padding: 2.4rem 5rem; /* Adiciona preenchimento ao contêiner */
  border-radius: 2rem; /* Borda arredondada */
  border: 1px solid transparent; /* Adiciona uma borda transparente */
  transition: var(--transition); /* Adiciona uma transição suave */
}

/* Estilo de hover para cada contêiner de certificado */
.certificates_container > div:hover {
  background: transparent; /* Torna o fundo transparente ao passar o mouse */
  border-color: var(--color-primary-variant); /* Adiciona cor à borda ao passar o mouse */
  cursor: default; /* Altera o cursor para o padrão */
}

/* Estilo para o título do certificado */
.certificates_container > div h3 {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 2rem; /* Adiciona uma margem inferior */
  color: var(--color-primary); /* Define a cor do texto */
}

/* Define o layout dos detalhes dos certificados */
.certificates_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem; /* Adiciona um espaço entre as linhas */
}

/* Estilo para os detalhes dos certificados */
.certificates_details {
  display: flex;
  gap: 0.5rem; /* Adiciona um pequeno espaço entre os elementos */
}

/* Estilo para o ícone dos detalhes dos certificados */
.certificates_details-icon {
  margin-top: 6px; /* Adiciona um pequeno espaçamento superior */
  color: var(--color-primary); /* Define a cor do ícone */
}

/* Define as regras de mídia para telas menores que 1024px */
@media screen and (max-width: 1024px) {
  .certificates_container {
    grid-template-columns: 1fr; /* Altera para uma única coluna */
  }

  /* Ajusta o tamanho e o preenchimento dos contêineres */
  .certificates_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto; /* Centraliza horizontalmente */
  }

  /* Ajusta o preenchimento do conteúdo dos certificados */
  .certificates_content {
    padding: 1rem;
  }
}

/* Define as regras de mídia para telas menores que 600px */
@media screen and (max-width: 600px) {
  /* Reduz o espaço entre os contêineres */
  .certificates_container {
    gap: 1rem;
  }

  /* Ajusta o tamanho e o preenchimento dos contêineres para telas menores */
  .certificates_container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}